<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New director</title>
</head>
<link rel="stylesheet" th:href="@{/style.css}" type="text/css">
<body>

<nav class="main-nav">
    <a href="/movies">Movie list</a>
    <a href="/movies/insert">New movie</a>
    <a href="/movies/actor/insert">New actor</a>
    <a href="/movies/director/insert">New director</a>
</nav>

<h1>Insert new director</h1>

<form method="POST" th:object="${director}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="${director.name}"/>
        <span class="validationError" th:if="${#fields.hasErrors('name')}"
              th:errors="${director.name}">Name Error</span>

    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="${director.surname}"/>
        <span class="validationError" th:if="${#fields.hasErrors('surname')}"
              th:errors="${director.surname}">Surname Error</span>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>